__pycache__
*.py[co]
*.swp
*.pdf
*.png
*.sh
*.ipynb
*.npy

#folders
data
img
models
dist
build
spyrit.egg-info
stats_walsh
**/.ipynb_checkpoints/*
docs/source/_build*
model/
runs/
spyrit/drunet/
!spyrit/images/tuto/*.png
docs/source/html
docs/source/_autosummary
