.sphx-glr-thumbnails {
    width: 100%;
    margin: 0px 0px 0px 0px;

    /* align thumbnails on a grid */
    justify-content: space-between;
    display: grid;
    /* each grid column should be at least 160px (this will determine
    the actual number of columns) and then take as much of the
    remaining width as possible */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
    gap: 20px;
}
.sphx-glr-thumbcontainer {
    width: 100% !important;
    min-height: 210px !important;
    margin: 0px !important;
}
.sphx-glr-thumbcontainer .figure {
    min-width: 100px !important;
    height: 100px !important;
}
.sphx-glr-thumbcontainer img {
    display: inline !important;
    object-fit: cover !important;
    max-height: 150px !important;
    min-width: 300px !important;
  }
